<main>
  <div>
    {{#with navigation}}
    <div class='nav'>
      {{#each links}}
      <div class='nav-item'>
        {{>shoplink}}
      </div>
      {{/each}}
    </div>
    {{/with}}
  </div>
  <hr class="my-3">

  <div class="card p-4 text-bg-secondary mb-3">
    <div class="row">
      <div class="col-8 ">
        <h2 class="display-8"> <b>{{header}}</b></h2>
        <p class="btn btn-outline-secondary"> Pseudonym: "{{pseudonym}}"</p>
      </div>
      <div class="col-4">
        <h4 class="display-10 text-right">{{name}}</h4>
        <p>{{text1}}</p>
        <p></p>
      </div>
    </div>
  </div>

  <div class="card text-bg-secondary">
    <div class="row mx-4">
      {{#with shopPages}}
      <p class="text-center display-6">{{text}}</p>
      <div class="col-6 p-3 m-3">

        <h4 class="display-10">{{title}}</h4>


        {{#each buttons}}
        <div class="col-3 mb-2 ">
          {{#if isSuccess}}
          <a href="{{link}}" type="button" class="btn btn-primary mt-2">{{text}}</a>
          {{/if}}
          {{#if isWarning}}
          <a href="{{link}}" type="button" class="btn btn-outline-info mt-2">{{text}}</a>
          {{/if}}
        </div>
        {{/each}}
      </div>
      {{/with}}

      {{#with otherTasks}}
      <div class="col-4 p-3 m-3">
        <h4 class="display-10">{{title}}</h4>
        {{#each buttons}}
        <div class="col-3 mb-2 text-right">
          {{#if isSuccess}}
          <a href="{{link}}" type="button" class="btn btn-primary mt-2">{{text}}</a>
          {{/if}}
          {{#if isWarning}}
          <a href="{{link}}" type="button" class="btn btn-outline-info mt-2">{{text}}</a>
          {{/if}}
        </div>
        {{/each}}
      </div>
      {{/with}}

    </div>
  </div>
  <br>
  <div class="card col-12 text-bg-secondary">
    {{#with firstTasks}}
    <h4 class="display-10 text-center m-3">{{title}}</h4>
    {{#each buttons}}
    <div class="row col mx-5 center">
      {{#if isDark}}
      <a href="{{link}}" type="button" class="btn btn-dark rounded-pill mt-2">{{text}}</a>
      {{/if}}
      {{#if isWarning}}
      <a href="{{link}}" type="button" class="btn btn-outline-secondary mt-2">{{text}}</a>
      {{/if}}
    </div>
    {{/each}}

    {{/with}}
  </div>

  <div class="card">
    {{#with service}}
    <div class="card-body text-center text-bg-secondary ps-1">
      <ul>
        <h2 class="display-4 ps-2">{{title}}</h2>
        <p class="ps-2">{{description}}</p>
        {{#each buttons}}
        <ul class="ps-1">
          <button href="{{link}}" type="button" class="btn btn-secondary m-2">{{text}}</button>
        </ul>
        {{/each}}
      </ul>
    </div>
    {{/with}}
  </div>






  <div class="card my-4">
    <div class="col-12">
      <div class="row">
        {{#each footer}}
        <div class="col-2">
          <div class="nav">
            <div>
              {{#each this}}
              {{#if @last}}
              <a href="#" class="nav-link disabled"> {{text}}</a>
              {{else}}
              <a href="{{link}}" class="nav-link"> {{text}}</a>
              {{/if}}

              {{/each}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

</main>