<div>
  <main>
    <div class="card">

      {{#with navigation}}
      <div class="nav">
        {{#each links}}
        <div class="nav-item">
          {{>navsh}}
        </div>
        {{/each}}
        {{/with}}
      </div>
    </div>
  </main>

  <hr>
  {{#with newsBlock}}
  <div>
    <h1 class="text-title">{{title}}</h1>
  </div>
  <div class="row g-2">
    {{#each cards}}
    <div class="col-3">
      <div class="card rounded-pill">
        <div class="card-body text-bg-dark rounded-pill">
          <h6 class="card-header m-2">{{title}}{{>shopif}}{{>shopnew}}</h6>
          <p>{{description}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/with}}
  <hr>

  {{#with goodsBlock}}

  <div>
    <div class="nav nav-tabs">
      {{#each tabs}}
      <div class="nav-item">

        <a href="#" class="nav-link"> {{text}}</a>

      </div>
      {{/each}}
    </div>
  </div>


  <br>
  <hr>

  <div>
    <h2 class="text-title">{{title}}</h2>
  </div>
  <div class="row g-1">
    {{#each cards}}
    <div class="col-4">
      <div class="card">

        <img src="{{image}}" alt="ups" class="card-img-top">

        <div class="card-body">
          <h5 class="card-title">{{title}} {{>tech}} {{>technew}}</h5>
          <p>{{description}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/with}}
  <br>

  {{#with subscribe}}
  <div class="card">

    <div class="card-body  text-bg-dark ps-1">
      <ul>
        <h2 class="display-4 ps-2">{{header}}</h2>
        <p class="ps-2">{{description}}</p>
        {{#each buttons}}
        <ul class="ps-1">
          <button href="{{link}}" type="button" class="btn btn-primary m-2">{{text}}</button>
        </ul>
        {{/each}}
      </ul>
    </div>
  </div>

  {{/with}}
  <hr>

  {{#with service}}
  <div class="card">
    <div class="card-body text-center text-bg-success ps-3">
      <h2 class="display-4">{{title}}</h2>
      <p>{{description}}</p>
      {{#each buttons}}
      <ul>
        <button href="{{link}}" type="button" class="btn btn-primary mb-3">{{text}}</button>
      </ul>
      {{/each}}
    </div>
  </div>
  {{/with}}
  <hr>
  <br>

  <div class="card">
    {{#each footer}}
    <div class="nav nav-tabs">
      {{#each this}}
      <div class="col-3 list-group">
        <div class="nav-item">
          <a href="{{link}}" class="nav-link"> {{text}}</a>
        </div>
      </div>
      {{/each}}
    </div>
    {{/each}}
  </div>
</div>