<div>
  <section>
    <ul>
      <div class="card">
        {{#with heading}}
        {{#with main}}
        <div class="display-1 text-center"> <b>{{title}}</b> </div>
        <hr>
        <div class="card" style="width: 40rem;">
          <p class="display-6 ml-6"> {{text}}</p>
          <br>
          <div>
            <ul>
              {{#with button_text}}
              <ul>
                <p>
                  <type="button" class="btn btn-primary"> {{solid}}</button>
                </p>
                <br>
                <p>
                  <type="button" class="btn btn-success"> {{outline}}</button>
                </p>
              </ul> {{/with}}
            </ul>
          </div>
          {{/with}}
          <br>
          <hr>

          <div class="card">
            {{#with second}}
            <p class="display-6 text-center"> {{title}}</p>

            <p class="display-8 text-center"> {{text}}</p>
            <br>
            <div>
              {{#with button_text}}
              <ul>
                <p>
                  <type="button" class="btn btn-warning"> {{solid}}</button>
                </p>
                <br>
                <p>
                  <type="button" class="btn btn-success"> {{outline}}</button>
                </p>
              </ul>
              {{/with}}
            </div>
            {{/with}}
          </div><br>
          {{#with subblock}}
          <p class="display-6 text-center"> {{title}}</p>

          <li>
            <p class="display-8 text-center"> {{text}}</p>
          </li>

          <br>
          <div>
            {{#with button_text}}
            <ul>

              <p>
                <type="button" class="btn btn-info"> {{solid}}</button>
              </p>

              <br>

              <p>
                <type="button" class="btn btn-dark"> {{outline}}</button>
              </p>

            </ul>

            {{/with}}
          </div>
          {{/with}}
          {{/with}}
        </div>
        <hr>
        <div>

          {{#with nested_display}}
          <div class="display-4 text-center"><b>{{title}}</b> </div>
          <br>
          <hr>

          <div class="card">
            {{#with children_display}}
            <div class="display-6 text-center"> {{title}}</div>

            <div class="display-8 text-center"> {{text}}</div>


            <br>
            {{#with button}}
            <ul>
              <p>
                <type="button" class="btn btn-info"> {{text}}</button>
              </p>
            </ul>
            {{/with}}
            {{/with}}
          </div>
          <br>
          <div class="card">
            <div class="display-6 text-center"> {{header_text}}</div>
            {{#with button}}
            <ul>
              <p>
                <type="button" class="btn btn-warning"> {{text}}</button>
              </p>
            </ul>
            {{/with}}
          </div>

          {{/with}}
        </div>
        <div>
          <hr>
          {{#with paragraph}}
          <div class="display-2 text-center"> <b>{{title}}</b></div>
          <hr>
          <ul>

            <div class="display-6"> {{text}}</div>

          </ul>
          <br>
          <div>
            <hr>
            {{#with button}}
            <ul>
              <p>
                <a href={{url}} class="btn btn-primary"> {{text}}</a>
              </p>
            </ul>
            {{/with}}
          </div>

          {{#each list_name}}
          <ul>
            <p><a href={{url}} class="btn btn-primary"> {{text}}</a></p>
          </ul>
          {{/each}}

    </ul>
    {{/with}}
</div>
</ul>
</div>



</ul>
</section>
</div>