<div>
  <section>
    <div>

      <h1 class="text-center text-uppercase">InnovaMind</h1>
      {{#with page_header}}
      <div class="card w-100 mb-6">
        <div class="card-body">
          <h5 class="text-center text-uppercase">{{title}}</h5>
          <br>
          <p class="text-end text-lowercase">{{description}}</p>
          <br>
          <a href="#" class="btn btn-info">Come with us</a>
        </div>
      </div>
      {{/with}}

      <br>
      <div>
        <ul>
          {{#with section}}
          <div class="card w-100 mb-6">
            {{#with about_us}}
            <div>
              <ul>
                {{#with title_list}}
                <div class="display-6 text-center">{{main}}</div>
                <p class="display-8 text-end text-lowercase">{{sub}}</p>
                {{/with}}
              </ul>
            </div>
            <hr>
            {{#with button}}
            <ul>
              <button type="button" class="btn btn-outline-info">{{text}}</button>
            </ul>
            <br>
            {{/with}}

            {{/with}}
          </div>
          <br>
          <div>
            <ul>
              {{#with advantage}}
              <div class="display-5 text-center">{{title}}</div>
              <br>

              <div class="card w-100 mb-6">
                <ul>
                  {{#with efficiency}}
                  <div class="display-6">{{title}}</div>
                  <li>{{sub_title}}</li>
                  <li>{{description}}</li>
                  <button type="button" class="btn btn-outline-warning">{{button}}</button>
                  <br>
                  {{/with}}
                </ul>
              </div>
              <br>
              <div class="card w-100 mb-6">
                <ul>
                  {{#with innovation}}
                  <p class="display-6 text-center">{{title}}</p>
                  <p class="display-8 text-center">{{sub_title}}</p>
                  <p class="display-10 text-center">{{description}}</p>
                  <button type="button" class="btn btn-outline-warning">{{button}}</button>
                  <br>
                  {{/with}}
                </ul>
              </div>
              <br>
              <div class="card w-100 mb-6">
                <ul>
                  {{#with collaboration}}
                  <p class="display-6 text-end">{{title}}</p>
                  <p class="display-8 text-end">{{sub_title}}</p>
                  <p class="display-10 text-end">{{description}}</p>
                  <button type="button" class="btn btn-outline-warning">{{button}}</button>
                  <br>
                  {{/with}}
                </ul>
              </div>
              {{/with}}
            </ul>
          </div>
          <br>
          <ul>
            <div class="card w-100 mb-6">
              <ul>
                {{#with agreement}}
                <div class="display-6">{{title}}</div>
                {{#with info}}
                <p>{{sub_title}}</p>
                {{#with detail}}
                <p>{{text}}</p>
                <input class="btn btn-success" type="submit" value="{{button}}">
                <br>
                {{/with}}
                {{/with}}
                {{/with}}
              </ul>
            </div>
          </ul>
          {{/with}}

        </ul>
      </div>
  </section>


</div>
</section>
</div>