<div>
  <section>
    {{#with navigation}}
    <ul class="list group">
      {{#each links}}
      <a href="{{href}}" class="btn btn-link"> {{text}}</a>

      {{/each}}
      {{#with button}}
      <button href="{{href}}" type="button" class="btn btn-primary">{{text}}</button>
    </ul>{{/with}}
    {{/with}}
    <hr>
    {{#with header}}
    <div>
      <h1 class="text-title">{{title}}</h1>
    </div>
    <p>{{description}}</p>
    {{#with button}}
    <button href="{{link}}" type="button" class="btn btn-primary">{{text}}</button>
    {{/with}}
    {{/with}}
    <hr>

    {{#with city}}
    <div>
      <h2 class="text-title">{{title}}</h2>
    </div>
    <div class="row g-2">
      {{#each cards}}
      <div class="col-6">
        <div class="card">
          {{#with picture}}
          <img src="{{src}}" alt="{{alt}}" class="card-img-top">
          {{/with}}
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p>{{description}}</p>
            {{#with button}}
            <button href="{{href}}" type="button" class="btn btn-primary">{{text}}</button>
            {{/with}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{/with}}
    <br>
    <hr>

    {{#with winner}}
    <div>
      <h2 class="text-title">{{title}}</h2>
    </div>
    {{#with table}}
    <table class="table">
      <thead>
        <tr>
          {{#each head}}
          <th> {{this}} </th>
          {{/each}}
        </tr>
      </thead>

      <tbody>
        {{#each user}}
        <tr>
          <td> Place : {{place}}</td>
          <td>{{name}}</td>
          <td class='text-uppercase'> {{surname}}</td>
          <td>=> "{{nickname}}"</td>

        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/with}}
    {{/with}}

    <hr>

    {{#with gallery}}
    <div>
      <h2 class="text-title">{{title}}</h2>
    </div>
    <div class="row g-2">
      {{#each cards}}
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <p class="text-center">{{name}}</p>
          </div>
          <ul class="list-group list-group-flush">
            {{#each items}}
            <li class="text-center list-group-item">{{this}}</p>
              {{/each}}
          </ul>
        </div>
      </div>
      {{/each}}
    </div>
    {{/with}}

    <br>

    {{#with relaxion}}
    <div>
      <h1 class="text-title">{{title}}</h1>
    </div>
    <div class="row g-2">
      {{#each cards}}
      <div class="col-6">
        <div class="card">
          <div class="card-body text-bg-secondary">
            <h5 class="card-header">{{header}}</h5>
            <p>{{title}}</p>
            <p>{{description}}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{/with}}

    <br>

    {{#with rest}}
    <div class="row g-2">
      {{#each cards}}
      <div class="col-6">
        <div class="card">
          <h5 class="card-header text-center">{{header}}</h5>
          <div class="card-body">
            <p class="text-center">{{title}}</p>
            <p class="text-center">{{description}}</p>
            <div class="text-center">
              <button href="#" type="button" class="btn btn-primary">{{button}}</button>
            </div>
          </div>
          <h5 class="card-footer text-center">{{footer}}</h5>
        </div>
      </div>
      {{/each}}
    </div>
    {{/with}}

    <br>

    {{#with proposition}}
    <div>
      <h1 class="text-title">{{title}}</h1>
    </div>
    <div class="row g-2">
      {{#each card}}
      <div class="col-6">
        <div class="card text-bg-warning">
          <h5 class="card-header">{{header}}</h5>
          <div class="card-body">
            <p>{{title}}</p>
            <p>{{description}}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{/with}}

    <br>

    {{#with footer}}
    <h5>{{title}}</h5>
    <div class="row">

      <div class="col-4 list-group">
        {{#each navigation}}
        <a href="{{href}}" class="list-item" target="_blank">
          <button class="btn btn-link">{{text}}</button>
        </a>
        <br>
        {{/each}}
      </div>

      <div class="col-4 list-group">
        {{#each socialMedia}}
        <a href="{{link}}" class="list-item" target="_blank">
          <button class="btn btn-outline-dark">{{name}}</button>
        </a>
        <br>
        {{/each}}
      </div>

      <div class="col-4 list-group">
        {{#each partners}}
        <a href="{{link}}" class="list-item" target="_blank">
          <button class="btn btn-outline-info">{{name}}</button>
        </a>
        <br>
        {{/each}}
      </div>
    </div>
    {{/with}}
  </section>
</div>