{{#if isPrimary}}
<button href="{{link}}" type="button" class="btn btn-warning m-2">{{text}}</button>
{{else}}
<button href="{{link}}" type="button" class="btn btn-outline-warning m-2">{{text}}</button>
{{/if}}